
<!-- MAIN CONTENT -->
<div id="content">
    <ngx-loading [show]="loading"></ngx-loading>

    <!-- widget grid -->
    <sa-widgets-grid>
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">
                <div sa-widget class="well">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Transaction Table</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class=""
                                 style="padding: 6px 7px 6px !important; border-bottom: 1px solid #ccc; background: #fafafa; margin-bottom: 0px;">
                                <a class="btn btn-default" (click)="reset()"><i class="fa fa-filter"></i>Reset
                                    Filter</a>
                                <a class="btn btn-default" routerLink="/pages/transaction/transaction-add">
                                    <i class="fa fa-plus"></i>Add
                                </a>
                                <a (click)="importByExcel()" class="btn btn-default">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    Import By Excel
                                </a>
                                <a (click)="download()" class="btn btn-default">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    Export
                                </a>
                            </div>
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox dataTable no-footer">

                                    <thead>
                                    <tr [formGroup]="searchForm" class="searchForm">
                                        <th></th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="orderId" type="text"
                                                           class="form-control"
                                                           placeholder="Order Id"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="buyCurrency" type="text"
                                                           class="form-control"
                                                           placeholder="Buy Currency"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="buyAmount" type="text"
                                                           class="form-control"
                                                           placeholder="Buy Amount"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="sellCurrency" type="text"
                                                           class="form-control"
                                                           placeholder="Sell Currency"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="sellAmount" type="text"
                                                           class="form-control"
                                                           placeholder="Sell Amount"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="payAmount" type="text"
                                                           class="form-control"
                                                           placeholder="Pay Amount"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="baseRate" type="text"
                                                           class="form-control"
                                                           placeholder="Base Rate"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="salesRate" type="text"
                                                           class="form-control"
                                                           placeholder="Sales Rate"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="rate" type="text"
                                                           class="form-control"
                                                           placeholder="Rate"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="expectedRate" type="text"
                                                           class="form-control"
                                                           placeholder="Expected Rate"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="expireAt" type="text"
                                                           class="form-control"
                                                           placeholder="Expire At"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="status" type="text"
                                                           class="form-control"
                                                           placeholder="Status"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="type" type="text"
                                                           class="form-control"
                                                           placeholder="Type"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="paymentReason" type="text"
                                                           class="form-control"
                                                           placeholder="Payment Reason"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="parent" type="text"
                                                           class="form-control"
                                                           placeholder="Parent"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="children" type="text"
                                                           class="form-control"
                                                           placeholder="Children"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="overnightRate" type="text"
                                                           class="form-control"
                                                           placeholder="Overnight Rate"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="serviceFee" type="text"
                                                           class="form-control"
                                                           placeholder="Service Fee"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="collinsonUser" type="text"
                                                           class="form-control"
                                                           placeholder="Collinson User"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="payer" type="text"
                                                           class="form-control"
                                                           placeholder="Payer"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="payee" type="text"
                                                           class="form-control"
                                                           placeholder="Payee"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="payeeBankAccount" type="text"
                                                           class="form-control"
                                                           placeholder="Payee Bank Account"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="leaf" type="text"
                                                           class="form-control"
                                                           placeholder="Leaf"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="checked" type="text"
                                                           class="form-control"
                                                           placeholder="Checked"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="checkedBy" type="text"
                                                           class="form-control"
                                                           placeholder="Checked By"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="processedBy" type="text"
                                                           class="form-control"
                                                           placeholder="Processed By"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="canceledBy" type="text"
                                                           class="form-control"
                                                           placeholder="Canceled By"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="settledBy" type="text"
                                                           class="form-control"
                                                           placeholder="Settled By"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="rejectedBy" type="text"
                                                           class="form-control"
                                                           placeholder="Rejected By"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="checkedAt" type="text"
                                                           class="form-control"
                                                           placeholder="Checked At"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="processedAt" type="text"
                                                           class="form-control"
                                                           placeholder="Processed At"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="canceledAt" type="text"
                                                           class="form-control"
                                                           placeholder="Canceled At"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="settledAt" type="text"
                                                           class="form-control"
                                                           placeholder="Settled At"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="bookedAt" type="text"
                                                           class="form-control"
                                                           placeholder="Booked At"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="rejectedAt" type="text"
                                                           class="form-control"
                                                           placeholder="Rejected At"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="sameday" type="text"
                                                           class="form-control"
                                                           placeholder="Sameday"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="reversed" type="text"
                                                           class="form-control"
                                                           placeholder="Reversed"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="sendEmail" type="text"
                                                           class="form-control"
                                                           placeholder="Send Email"/>
                                                </th>
                                                <th class="hasinput" [ngStyle]="{width:'10%'}">
                                                    <input formControlName="calculateFromBuyToSell" type="text"
                                                           class="form-control"
                                                           placeholder="Calculate From Buy To Sell"/>
                                                </th>
                                        <th></th>
                                    </tr>


                                    <!--<tr>-->
                                    <!--<th *ngFor="let c of sortOprions.sortColumns" [ngClass]="getSortClass(c)"-->
                                    <!--(click)="changeSort(c)">{{c.columnDisplay}}-->
                                    <!--</th>-->
                                    <!--<th>Action</th>-->
                                    <!--</tr>-->

                                    <!--Without Sorting-->
                                    <tr *ngIf="false">
                                        <th>
                                            <label class="checkbox" style="margin-bottom: 20px;">
                                                <input type="checkbox"
                                                       [(ngModel)]="isSelectAll"
                                                       [checked]="isSelectAll === true"
                                                       (ngModelChange)="selectAll()"
                                                       name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </th>
                                            <th>orderId</th>
                                            <th>buyCurrency</th>
                                            <th>buyAmount</th>
                                            <th>sellCurrency</th>
                                            <th>sellAmount</th>
                                            <th>payAmount</th>
                                            <th>baseRate</th>
                                            <th>salesRate</th>
                                            <th>rate</th>
                                            <th>expectedRate</th>
                                            <th>expireAt</th>
                                            <th>status</th>
                                            <th>type</th>
                                            <th>paymentReason</th>
                                            <th>parent</th>
                                            <th>children</th>
                                            <th>overnightRate</th>
                                            <th>serviceFee</th>
                                            <th>collinsonUser</th>
                                            <th>payer</th>
                                            <th>payee</th>
                                            <th>payeeBankAccount</th>
                                            <th>leaf</th>
                                            <th>checked</th>
                                            <th>checkedBy</th>
                                            <th>processedBy</th>
                                            <th>canceledBy</th>
                                            <th>settledBy</th>
                                            <th>rejectedBy</th>
                                            <th>checkedAt</th>
                                            <th>processedAt</th>
                                            <th>canceledAt</th>
                                            <th>settledAt</th>
                                            <th>bookedAt</th>
                                            <th>rejectedAt</th>
                                            <th>sameday</th>
                                            <th>reversed</th>
                                            <th>sendEmail</th>
                                            <th>calculateFromBuyToSell</th>
                                        <th>Action</th>
                                    </tr>

                                    <!--With Sorting-->
                                    <tr>
                                        <th>
                                            <label class="checkbox" style="margin-bottom: 20px;">
                                                <input type="checkbox"
                                                       [(ngModel)]="isSelectAll"
                                                       [checked]="isSelectAll === true"
                                                       (ngModelChange)="selectAll()"
                                                       name="checkbox-inline">
                                                <i></i>
                                            </label>
                                        </th>
                                        <th *ngFor="let c of sortOprions.sortColumns"
                                            [ngClass]="getSortClass(c)"
                                            (click)="changeSort(c)">{{c.columnDisplay}}
                                        </th>
                                        <th>Action</th>
                                    </tr>

                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let item of listElements | paginate: { itemsPerPage: paging.pageSize,
                                                      currentPage: paging.pageNumber,
                                                      totalItems: paging.totalSize }">
                                        <td>
                                            <label class="checkbox">
                                                <input [(ngModel)]="item.isSelected"
                                                       [checked]="item.isSelected === true"
                                                       (ngModelChange)="select(item)"
                                                       type="checkbox"
                                                       name="checkbox-inline"
                                                       value="true">
                                                <i></i>
                                            </label>
                                        </td>
                                            <td><limit-length-td-component
                                                    [text]="item.orderId">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.buyCurrency">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.buyAmount">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.sellCurrency">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.sellAmount">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.payAmount">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.baseRate">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.salesRate">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.rate">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.expectedRate">
                                            </limit-length-td-component></td>
                                            <td>{{item.expireAt?(item.expireAt*1000 | date):''}}</td>

                                            <td><limit-length-td-component
                                                    [text]="item.status">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.type">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.paymentReason">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.parent">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.children">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.overnightRate">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.serviceFee">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.collinsonUser">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.payer">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.payee">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.payeeBankAccount">
                                            </limit-length-td-component></td>
                                            <td>
                                            <span *ngIf="item.leaf">Yes</span>
                                            <span *ngIf="!item.leaf">No</span>
                                            </td>
                                            <td>
                                            <span *ngIf="item.checked">Yes</span>
                                            <span *ngIf="!item.checked">No</span>
                                            </td>
                                            <td><limit-length-td-component
                                                    [text]="item.checkedBy">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.processedBy">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.canceledBy">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.settledBy">
                                            </limit-length-td-component></td>
                                            <td><limit-length-td-component
                                                    [text]="item.rejectedBy">
                                            </limit-length-td-component></td>
                                            <td>{{item.checkedAt?(item.checkedAt*1000 | date):''}}</td>

                                            <td>{{item.processedAt?(item.processedAt*1000 | date):''}}</td>

                                            <td>{{item.canceledAt?(item.canceledAt*1000 | date):''}}</td>

                                            <td>{{item.settledAt?(item.settledAt*1000 | date):''}}</td>

                                            <td>{{item.bookedAt?(item.bookedAt*1000 | date):''}}</td>

                                            <td>{{item.rejectedAt?(item.rejectedAt*1000 | date):''}}</td>

                                            <td>
                                            <span *ngIf="item.sameday">Yes</span>
                                            <span *ngIf="!item.sameday">No</span>
                                            </td>
                                            <td>
                                            <span *ngIf="item.reversed">Yes</span>
                                            <span *ngIf="!item.reversed">No</span>
                                            </td>
                                            <td>
                                            <span *ngIf="item.sendEmail">Yes</span>
                                            <span *ngIf="!item.sendEmail">No</span>
                                            </td>
                                            <td><limit-length-td-component
                                                    [text]="item.calculateFromBuyToSell">
                                            </limit-length-td-component></td>
                                        <td><a routerLink="/pages/transaction/transaction-edit/{{item.id}}"><i
                                                class="fa fa-edit"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="dt-toolbar-footer">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="pull-left pagination-detail">
                                            <span class="pagination-info">Show</span>
                                            <span class="page-list">
                                                  <span class="btn-group dropup">
                                                    <select class="form-control"
                                                            (ngModelChange)="onPageSizeChange($event)"
                                                            [(ngModel)]="paging.pageSize">
                                                        <option [ngValue]="i"
                                                                *ngFor="let i of [12,24,36,100]">{{i}}</option>
                                                    </select>
                                                  </span> records/page, <span
                                                    class="theme-color">{{paging.totalSize}}</span> records in total
                                              </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="dataTables_paginate paging_simple_numbers pagination pagination-sm"
                                             id="datatable_fixed_column_paginate">
                                            <pagination-controls
                                                    (pageChange)="pageChanged($event)"
                                                    maxSize="9"
                                                    directionLinks="true"
                                                    autoHide="false"
                                                    previousLabel="Previous"
                                                    nextLabel="Next"
                                                    screenReaderPaginationLabel="Pagination"
                                                    screenReaderPageLabel="page"
                                                    screenReaderCurrentLabel="You're on page">
                                            </pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>

<div bsModal #lgImportByExcelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     (onHide)="onImportByExcelModalHide()"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgImportByExcelModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Import By Excel</h4>
            </div>
            <div class="modal-body" style="margin: 0 auto !important; width: 250px !important;">
                <!--<textarea name="" id="" cols="120" rows="20" [(ngModel)]="importMerchantString"></textarea>-->
                <my-drop-zone-component [url]="excelUploadUrl"
                                        [maxFiles]="1"
                                        [autoProcessQueue]="false"
                                        [uploadAndImportSubject]="uploadAndImportSubject"
                                        [resetDropzoneSubject]="resetDropzoneSubject"
                                        (fileUploaded)="onFileUploaded($event)">
                </my-drop-zone-component>
            </div>
            <div class="modal-footer">
                <div class="">
                    <footer>
                        <button type="submit" class="btn btn-success" (click)="importByExceliConfirm()">Confirm
                        </button>
                        <button type="submit" class="btn btn-primary" (click)="downloadExcelTemplate()">Download
                            Template
                        </button>
                        <button type="button" class="btn btn-default" (click)="lgImportByExcelModal.hide()">Cancel
                        </button>

                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>