<ng-select [items]="datasForSelect"
           [multiple]="multiple"
           bindLabel="text"
           (change)="datasChanged($event)"
           placeholder="Type to search"
           [typeahead]="typeahead"
           [(ngModel)]="selectedDatas">
    <ng-template ng-option-tmp let-item="item">
        {{item.text}}
    </ng-template>
</ng-select>