<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['name'].valid && myForm.controls['name'].touched)}">
                      Name
                      
                      <input type="text"
                             formControlName="name"
                             [(ngModel)]="currency.name"
                             name="name"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('name')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['maxPerTrx'].valid && myForm.controls['maxPerTrx'].touched)}">
                      Max Per Trx
                      
                      <input type="text"
                             formControlName="maxPerTrx"
                             [(ngModel)]="currency.maxPerTrx"
                             name="maxPerTrx"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('maxPerTrx')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['minPerTrx'].valid && myForm.controls['minPerTrx'].touched)}">
                      Min Per Trx
                      
                      <input type="text"
                             formControlName="minPerTrx"
                             [(ngModel)]="currency.minPerTrx"
                             name="minPerTrx"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('minPerTrx')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['smsAlertAmt'].valid && myForm.controls['smsAlertAmt'].touched)}">
                      Sms Alert Amt
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="smsAlertAmt"
                             [(ngModel)]="currency.smsAlertAmt"
                             name="smsAlertAmt"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('smsAlertAmt')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currencyCountryConfigs'].valid && myForm.controls['currencyCountryConfigs'].touched)}">
                      Currency Country Configs
                      
                      <input type="text"
                             formControlName="currencyCountryConfigs"
                             [(ngModel)]="currency.currencyCountryConfigs"
                             name="currencyCountryConfigs"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currencyCountryConfigs')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="currency.id"
              name="id"
              placeholder="">
</fieldset></div>
