<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['name'].valid && myForm.controls['name'].touched)}">
                      Name
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="name"
                             [(ngModel)]="priceCategory.name"
                             name="name"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('name')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['pricePolicies'].valid && myForm.controls['pricePolicies'].touched)}">
                      Price Policies
                      
                      <input type="text"
                             formControlName="pricePolicies"
                             [(ngModel)]="priceCategory.pricePolicies"
                             name="pricePolicies"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('pricePolicies')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="priceCategory.id"
              name="id"
              placeholder="">
</fieldset></div>
