<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyCurrency'].valid && myForm.controls['buyCurrency'].touched)}">
                      Buy Currency
                      
                      <input type="text"
                             formControlName="buyCurrency"
                             [(ngModel)]="pricePolicy.buyCurrency"
                             name="buyCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellCurrency'].valid && myForm.controls['sellCurrency'].touched)}">
                      Sell Currency
                      
                      <input type="text"
                             formControlName="sellCurrency"
                             [(ngModel)]="pricePolicy.sellCurrency"
                             name="sellCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysBuyMargin'].valid && myForm.controls['sysBuyMargin'].touched)}">
                      Sys Buy Margin
                      
                      <input type="text"
                             formControlName="sysBuyMargin"
                             [(ngModel)]="pricePolicy.sysBuyMargin"
                             name="sysBuyMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysBuyMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysSellMargin'].valid && myForm.controls['sysSellMargin'].touched)}">
                      Sys Sell Margin
                      
                      <input type="text"
                             formControlName="sysSellMargin"
                             [(ngModel)]="pricePolicy.sysSellMargin"
                             name="sysSellMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysSellMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankBuyMargin'].valid && myForm.controls['bankBuyMargin'].touched)}">
                      Bank Buy Margin
                      
                      <input type="text"
                             formControlName="bankBuyMargin"
                             [(ngModel)]="pricePolicy.bankBuyMargin"
                             name="bankBuyMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankBuyMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankSellMargin'].valid && myForm.controls['bankSellMargin'].touched)}">
                      Bank Sell Margin
                      
                      <input type="text"
                             formControlName="bankSellMargin"
                             [(ngModel)]="pricePolicy.bankSellMargin"
                             name="bankSellMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankSellMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['priceCategory'].valid && myForm.controls['priceCategory'].touched)}">
                      Price Category
                      
                      <input type="text"
                             formControlName="priceCategory"
                             [(ngModel)]="pricePolicy.priceCategory"
                             name="priceCategory"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('priceCategory')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['baseBuyPrice'].valid && myForm.controls['baseBuyPrice'].touched)}">
                      Base Buy Price
                      
                      <input type="text"
                             formControlName="baseBuyPrice"
                             [(ngModel)]="pricePolicy.baseBuyPrice"
                             name="baseBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('baseBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['baseSellPrice'].valid && myForm.controls['baseSellPrice'].touched)}">
                      Base Sell Price
                      
                      <input type="text"
                             formControlName="baseSellPrice"
                             [(ngModel)]="pricePolicy.baseSellPrice"
                             name="baseSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('baseSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysBuyPrice'].valid && myForm.controls['sysBuyPrice'].touched)}">
                      Sys Buy Price
                      
                      <input type="text"
                             formControlName="sysBuyPrice"
                             [(ngModel)]="pricePolicy.sysBuyPrice"
                             name="sysBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysSellPrice'].valid && myForm.controls['sysSellPrice'].touched)}">
                      Sys Sell Price
                      
                      <input type="text"
                             formControlName="sysSellPrice"
                             [(ngModel)]="pricePolicy.sysSellPrice"
                             name="sysSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankBuyPrice'].valid && myForm.controls['bankBuyPrice'].touched)}">
                      Bank Buy Price
                      
                      <input type="text"
                             formControlName="bankBuyPrice"
                             [(ngModel)]="pricePolicy.bankBuyPrice"
                             name="bankBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankSellPrice'].valid && myForm.controls['bankSellPrice'].touched)}">
                      Bank Sell Price
                      
                      <input type="text"
                             formControlName="bankSellPrice"
                             [(ngModel)]="pricePolicy.bankSellPrice"
                             name="bankSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="pricePolicy.id"
              name="id"
              placeholder="">
</fieldset></div>
