<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currency'].valid && myForm.controls['currency'].touched)}">
                      Currency
                      
                      <input type="text"
                             formControlName="currency"
                             [(ngModel)]="currencyCountryConfig.currency"
                             name="currency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['country'].valid && myForm.controls['country'].touched)}">
                      Country
                      
                      <input type="text"
                             formControlName="country"
                             [(ngModel)]="currencyCountryConfig.country"
                             name="country"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('country')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clearingCodeType'].valid && myForm.controls['clearingCodeType'].touched)}">
                      Clearing Code Type
                      
                      <input type="text"
                             formControlName="clearingCodeType"
                             [(ngModel)]="currencyCountryConfig.clearingCodeType"
                             name="clearingCodeType"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clearingCodeType')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['needSwiftCode'].valid && myForm.controls['needSwiftCode'].touched)}">
                    Need Swift Code
                    <input type="checkbox"
                           formControlName="needSwiftCode"
                           [(ngModel)]="currencyCountryConfig.needSwiftCode"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('needSwiftCode')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['needAccountNumber'].valid && myForm.controls['needAccountNumber'].touched)}">
                    Need Account Number
                    <input type="checkbox"
                           formControlName="needAccountNumber"
                           [(ngModel)]="currencyCountryConfig.needAccountNumber"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('needAccountNumber')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="currencyCountryConfig.id"
              name="id"
              placeholder="">
</fieldset></div>
