<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['collinsonUser'].valid && myForm.controls['collinsonUser'].touched)}">
                      Collinson User
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="collinsonUser"
                             [(ngModel)]="deposit.collinsonUser"
                             name="collinsonUser"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('collinsonUser')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['orderId'].valid && myForm.controls['orderId'].touched)}">
                      Order Id
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="orderId"
                             [(ngModel)]="deposit.orderId"
                             name="orderId"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('orderId')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currency'].valid && myForm.controls['currency'].touched)}">
                      Currency
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="currency"
                             [(ngModel)]="deposit.currency"
                             name="currency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['amount'].valid && myForm.controls['amount'].touched)}">
                      Amount
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="amount"
                             [(ngModel)]="deposit.amount"
                             name="amount"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('amount')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['clientFund'].valid && myForm.controls['clientFund'].touched)}">
                    Client Fund <span style="color: red">*</span> 
                    <input type="checkbox"
                           formControlName="clientFund"
                           [(ngModel)]="deposit.clientFund"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('clientFund')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->


            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['notes'].valid && myForm.controls['notes'].touched)}">
                      Notes
                      
                      <input type="text"
                             formControlName="notes"
                             [(ngModel)]="deposit.notes"
                             name="notes"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('notes')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['received'].valid && myForm.controls['received'].touched)}">
                    Received
                    <input type="checkbox"
                           formControlName="received"
                           [(ngModel)]="deposit.received"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('received')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="deposit.id"
              name="id"
              placeholder="">
</fieldset></div>
