<!-- MAIN CONTENT -->
<div id="content">
    <!--<div class="row">-->
    <!--<sa-big-breadcrumbs [breadCrumbs]="breadCrumbs" icon="pencil-square-o"-->
    <!--class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>-->

    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; Button trigger modal &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a (click)="mdModal.show()" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i&ndash;&gt;-->
    <!--&lt;!&ndash;class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->


    <!-- widget grid -->

    <sa-widgets-grid>
        <ngx-loading [show]="loading"></ngx-loading>


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget [editbutton]="false" [custombutton]="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>Sys Bank Account Form</h2>

                    </header>
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)" id="checkout-form"
                                  class="smart-form">

<fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currency'].valid && myForm.controls['currency'].touched)}">
                      Currency
                      
                      <input type="text"
                             formControlName="currency"
                             [(ngModel)]="sysBankAccount.currency"
                             name="currency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['accountName'].valid && myForm.controls['accountName'].touched)}">
                      Account Name
                      
                      <input type="text"
                             formControlName="accountName"
                             [(ngModel)]="sysBankAccount.accountName"
                             name="accountName"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('accountName')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['accountNumber'].valid && myForm.controls['accountNumber'].touched)}">
                      Account Number
                      
                      <input type="text"
                             formControlName="accountNumber"
                             [(ngModel)]="sysBankAccount.accountNumber"
                             name="accountNumber"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('accountNumber')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankName'].valid && myForm.controls['bankName'].touched)}">
                      Bank Name
                      
                      <input type="text"
                             formControlName="bankName"
                             [(ngModel)]="sysBankAccount.bankName"
                             name="bankName"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankName')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankAddress'].valid && myForm.controls['bankAddress'].touched)}">
                      Bank Address
                      
                      <input type="text"
                             formControlName="bankAddress"
                             [(ngModel)]="sysBankAccount.bankAddress"
                             name="bankAddress"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankAddress')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankCity'].valid && myForm.controls['bankCity'].touched)}">
                      Bank City
                      
                      <input type="text"
                             formControlName="bankCity"
                             [(ngModel)]="sysBankAccount.bankCity"
                             name="bankCity"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankCity')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankCountry'].valid && myForm.controls['bankCountry'].touched)}">
                      Bank Country
                      
                      <input type="text"
                             formControlName="bankCountry"
                             [(ngModel)]="sysBankAccount.bankCountry"
                             name="bankCountry"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankCountry')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bsbNumber'].valid && myForm.controls['bsbNumber'].touched)}">
                      Bsb Number
                      
                      <input type="text"
                             formControlName="bsbNumber"
                             [(ngModel)]="sysBankAccount.bsbNumber"
                             name="bsbNumber"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bsbNumber')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bicCode'].valid && myForm.controls['bicCode'].touched)}">
                      Bic Code
                      
                      <input type="text"
                             formControlName="bicCode"
                             [(ngModel)]="sysBankAccount.bicCode"
                             name="bicCode"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bicCode')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['correspondentBank'].valid && myForm.controls['correspondentBank'].touched)}">
                      Correspondent Bank
                      
                      <input type="text"
                             formControlName="correspondentBank"
                             [(ngModel)]="sysBankAccount.correspondentBank"
                             name="correspondentBank"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('correspondentBank')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="sysBankAccount.id"
              name="id"
              placeholder="">
</fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

                <!-- Widget ID (each widget will need unique ID)-->

                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </sa-widgets-grid>

    <!-- end widget grid -->


</div>