<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['name'].valid && myForm.controls['name'].touched)}">
                      Name
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="name"
                             [(ngModel)]="payee.name"
                             name="name"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('name')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['country'].valid && myForm.controls['country'].touched)}">
                      Country
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="country"
                             [(ngModel)]="payee.country"
                             name="country"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('country')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['addressLine1'].valid && myForm.controls['addressLine1'].touched)}">
                      Address Line1
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="addressLine1"
                             [(ngModel)]="payee.addressLine1"
                             name="addressLine1"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('addressLine1')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['addressLine2'].valid && myForm.controls['addressLine2'].touched)}">
                      Address Line2
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="addressLine2"
                             [(ngModel)]="payee.addressLine2"
                             name="addressLine2"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('addressLine2')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['city'].valid && myForm.controls['city'].touched)}">
                      City
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="city"
                             [(ngModel)]="payee.city"
                             name="city"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('city')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['postCode'].valid && myForm.controls['postCode'].touched)}">
                      Post Code
                      
                      <input type="text"
                             formControlName="postCode"
                             [(ngModel)]="payee.postCode"
                             name="postCode"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('postCode')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!--------------------if is dropzone------------------>
            <input type="text"
                   style="display: none;"
                   formControlName="attachments"
                   [(ngModel)]="payee.attachments"
                   name="attachments"
                   placeholder="">

            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attachments
            
            </label>
            <div class="row dropzone-area" style="margin: 15px 15px !important">
                <div class="" role="content">
                    <!-- widget content -->
                    <div class="widget-body" [ngClass]="{'state-error': (!myForm.controls['attachments'].valid && myForm.controls['attachments'].touched)}">

                        <my-drop-zone-component [maxFiles]="10"
                                                [subject]="attachmentsImageSubject"
                                                (fileObjectsChanged)="attachmentsFileObjectsChanged($event)">
                        </my-drop-zone-component>
                        <validation-error
                                [control]="myForm.get('attachments')"></validation-error>

                    </div>
                    <!-- end widget content -->

                </div>
            </div>
            <!--------------------if is dropzone------------------>
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['enable'].valid && myForm.controls['enable'].touched)}">
                    Enable <span style="color: red">*</span> 
                    <input type="checkbox"
                           formControlName="enable"
                           [(ngModel)]="payee.enable"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('enable')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->


            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['payAmount'].valid && myForm.controls['payAmount'].touched)}">
                      Pay Amount
                      
                      <input type="text"
                             formControlName="payAmount"
                             [(ngModel)]="payee.payAmount"
                             name="payAmount"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('payAmount')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-----if is multi select and ouput single entity----->
            <input type="text"
                   style="display: none;"
                   formControlName="collinsonUser"
                   [(ngModel)]="payee.collinsonUser"
                   name="collinsonUser"
                   placeholder="">

            <section class="col col-6">
                <div class="select" [ngClass]="{'state-error': (!myForm.controls['collinsonUser'].valid && myForm.controls['collinsonUser'].touched)}">
                    Collinson User

                   
                    <common-multi-select
                            [refreshSubject]="collinsonUserRefreshSubject"
                            [datasForLoadSubject]="collinsonUserForLoadSubject"
                            (datasSelected)="collinsonUserSelected($event)"
                            [multiple]="false"
                            [service]="collinsonUserService"
                    ></common-multi-select>
                    <validation-error
                            [control]="myForm.get('collinsonUser')"></validation-error>
                </div>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->



            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['verify'].valid && myForm.controls['verify'].touched)}">
                    Verify
                    <input type="checkbox"
                           formControlName="verify"
                           [(ngModel)]="payee.verify"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('verify')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="payee.id"
              name="id"
              placeholder="">
       <input type="text"
              style="display: none;"
              formControlName="payer"
              [(ngModel)]="payee.payer"
              name="payer"
              placeholder="">
       <input type="text"
              style="display: none;"
              formControlName="payeeBankAccounts"
              [(ngModel)]="payee.payeeBankAccounts"
              name="payeeBankAccounts"
              placeholder="">
       <input type="text"
              style="display: none;"
              formControlName="transactions"
              [(ngModel)]="payee.transactions"
              name="transactions"
              placeholder="">
</fieldset></div>
