<ngx-loading [show]="loading"></ngx-loading>

<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo/logo.png" alt="Collinson Admin"> </span>
  </div>

  <span *ngIf="false" id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
          routerLink="/auth/register" class="btn btn-danger">Create account</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm" *ngIf="false">
        <h1 class="txt-color-red login-header-big">SmartAdmin</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin,
              everywhere you go!</h4>

            <div class="login-app-icons">
              <a routerLink="/dashboard/analytics" class="btn btn-danger btn-sm">Frontend Template</a>
              <a routerLink="/smartadmin/app-layouts" class="btn btn-danger btn-sm">Find out more</a>
            </div>
          </div>
          <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt=""
               style="width:210px">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Not just your average template!</h5>

            <p>
              Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi voluptatem accusantium!
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-sm">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="well no-padding">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="smart-form client-form"
                id="profileForm">

            <header>
              Sign In
            </header>
            <fieldset>
              <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input [formControl]="username" type="email" name="email"
                         data-smart-validate-input="" data-required="" data-email=""
                         data-message-required="Please enter your email address"
                         data-message-email="Please enter a VALID email address">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Please enter email address/username</b></label>
              </section>
              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input [formControl]="password" type="password" name="password"
                         data-smart-validate-input="" data-required="" data-minlength="3"
                         data-maxnlength="20" data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                    your password</b> </label>

                <!--<div class="note">-->
                <!--<a routerLink="/auth/forgot-password">Forgot password?</a>-->
                <!--</div>-->
              </section>
              <!--<section>-->
              <!--<label class="checkbox">-->
              <!--<input type="checkbox" name="remember" checked>-->
              <!--<i></i>Stay signed in</label>-->
              <!--</section>-->
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary">
                Sign in
              </button>
            </footer>
          </form>
        </div>
        <!--<h5 class="text-center"> - Or sign in using -</h5>-->
        <!--<ul class="list-inline text-center">-->
        <!--<li>-->
        <!--<a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>-->
        <!--</li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>
</div>

