<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['orderId'].valid && myForm.controls['orderId'].touched)}">
                      Order Id
                      
                      <input type="text"
                             formControlName="orderId"
                             [(ngModel)]="transaction.orderId"
                             name="orderId"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('orderId')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyCurrency'].valid && myForm.controls['buyCurrency'].touched)}">
                      Buy Currency
                      
                      <input type="text"
                             formControlName="buyCurrency"
                             [(ngModel)]="transaction.buyCurrency"
                             name="buyCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyAmount'].valid && myForm.controls['buyAmount'].touched)}">
                      Buy Amount
                      
                      <input type="text"
                             formControlName="buyAmount"
                             [(ngModel)]="transaction.buyAmount"
                             name="buyAmount"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyAmount')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellCurrency'].valid && myForm.controls['sellCurrency'].touched)}">
                      Sell Currency
                      
                      <input type="text"
                             formControlName="sellCurrency"
                             [(ngModel)]="transaction.sellCurrency"
                             name="sellCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellAmount'].valid && myForm.controls['sellAmount'].touched)}">
                      Sell Amount
                      
                      <input type="text"
                             formControlName="sellAmount"
                             [(ngModel)]="transaction.sellAmount"
                             name="sellAmount"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellAmount')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['payAmount'].valid && myForm.controls['payAmount'].touched)}">
                      Pay Amount
                      
                      <input type="text"
                             formControlName="payAmount"
                             [(ngModel)]="transaction.payAmount"
                             name="payAmount"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('payAmount')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['baseRate'].valid && myForm.controls['baseRate'].touched)}">
                      Base Rate
                      
                      <input type="text"
                             formControlName="baseRate"
                             [(ngModel)]="transaction.baseRate"
                             name="baseRate"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('baseRate')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['salesRate'].valid && myForm.controls['salesRate'].touched)}">
                      Sales Rate
                      
                      <input type="text"
                             formControlName="salesRate"
                             [(ngModel)]="transaction.salesRate"
                             name="salesRate"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('salesRate')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['rate'].valid && myForm.controls['rate'].touched)}">
                      Rate
                      
                      <input type="text"
                             formControlName="rate"
                             [(ngModel)]="transaction.rate"
                             name="rate"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('rate')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['expectedRate'].valid && myForm.controls['expectedRate'].touched)}">
                      Expected Rate
                      
                      <input type="text"
                             formControlName="expectedRate"
                             [(ngModel)]="transaction.expectedRate"
                             name="expectedRate"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('expectedRate')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="expireAt"
                   [(ngModel)]="transaction.expireAt"
                   name="expireAt"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['expireAt'].valid && myForm.controls['expireAt'].touched)}">
                      Expire At
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="expireAt"
                             [(ngModel)]="transaction.expireAt"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('expireAt')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->


            <!---------------------------------------------------->
            <!-------------------if is enum----------------------->
            <section class="col col-6">
                <label class="select" [ngClass]="{'state-error': (!myForm.controls['status'].valid && myForm.controls['status'].touched)}">
                    TransactionStatus
                    
                    <select type="text"
                            formControlName="status"
                            [(ngModel)]="transaction.status"
                            name="industry"
                            placeholder="">
                        <option [ngValue]="" selected disabled>Please Select
                        </option>
                        <option [ngValue]="i" *ngFor="let i of transactionStatusEnumList">{{i.name}}
                        </option>
                    </select>
                    <i class="override"></i>
                    <validation-error
                            [control]="myForm.get('status')"></validation-error>
                </label>
            </section>
            <!-------------------if is enum----------------------->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is enum----------------------->
            <section class="col col-6">
                <label class="select" [ngClass]="{'state-error': (!myForm.controls['type'].valid && myForm.controls['type'].touched)}">
                    TransactionType
                    
                    <select type="text"
                            formControlName="type"
                            [(ngModel)]="transaction.type"
                            name="industry"
                            placeholder="">
                        <option [ngValue]="" selected disabled>Please Select
                        </option>
                        <option [ngValue]="i" *ngFor="let i of transactionTypeEnumList">{{i.name}}
                        </option>
                    </select>
                    <i class="override"></i>
                    <validation-error
                            [control]="myForm.get('type')"></validation-error>
                </label>
            </section>
            <!-------------------if is enum----------------------->
            <!---------------------------------------------------->


            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['paymentReason'].valid && myForm.controls['paymentReason'].touched)}">
                      Payment Reason
                      
                      <input type="text"
                             formControlName="paymentReason"
                             [(ngModel)]="transaction.paymentReason"
                             name="paymentReason"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('paymentReason')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['parent'].valid && myForm.controls['parent'].touched)}">
                      Parent
                      
                      <input type="text"
                             formControlName="parent"
                             [(ngModel)]="transaction.parent"
                             name="parent"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('parent')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['children'].valid && myForm.controls['children'].touched)}">
                      Children
                      
                      <input type="text"
                             formControlName="children"
                             [(ngModel)]="transaction.children"
                             name="children"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('children')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['overnightRate'].valid && myForm.controls['overnightRate'].touched)}">
                      Overnight Rate
                      
                      <input type="text"
                             formControlName="overnightRate"
                             [(ngModel)]="transaction.overnightRate"
                             name="overnightRate"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('overnightRate')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['serviceFee'].valid && myForm.controls['serviceFee'].touched)}">
                      Service Fee
                      
                      <input type="text"
                             formControlName="serviceFee"
                             [(ngModel)]="transaction.serviceFee"
                             name="serviceFee"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('serviceFee')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['collinsonUser'].valid && myForm.controls['collinsonUser'].touched)}">
                      Collinson User
                      
                      <input type="text"
                             formControlName="collinsonUser"
                             [(ngModel)]="transaction.collinsonUser"
                             name="collinsonUser"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('collinsonUser')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['payer'].valid && myForm.controls['payer'].touched)}">
                      Payer
                      
                      <input type="text"
                             formControlName="payer"
                             [(ngModel)]="transaction.payer"
                             name="payer"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('payer')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['payee'].valid && myForm.controls['payee'].touched)}">
                      Payee
                      
                      <input type="text"
                             formControlName="payee"
                             [(ngModel)]="transaction.payee"
                             name="payee"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('payee')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['payeeBankAccount'].valid && myForm.controls['payeeBankAccount'].touched)}">
                      Payee Bank Account
                      
                      <input type="text"
                             formControlName="payeeBankAccount"
                             [(ngModel)]="transaction.payeeBankAccount"
                             name="payeeBankAccount"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('payeeBankAccount')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['leaf'].valid && myForm.controls['leaf'].touched)}">
                    Leaf
                    <input type="checkbox"
                           formControlName="leaf"
                           [(ngModel)]="transaction.leaf"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('leaf')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->


            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['checked'].valid && myForm.controls['checked'].touched)}">
                    Checked
                    <input type="checkbox"
                           formControlName="checked"
                           [(ngModel)]="transaction.checked"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('checked')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['checkedBy'].valid && myForm.controls['checkedBy'].touched)}">
                      Checked By
                      
                      <input type="text"
                             formControlName="checkedBy"
                             [(ngModel)]="transaction.checkedBy"
                             name="checkedBy"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('checkedBy')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['processedBy'].valid && myForm.controls['processedBy'].touched)}">
                      Processed By
                      
                      <input type="text"
                             formControlName="processedBy"
                             [(ngModel)]="transaction.processedBy"
                             name="processedBy"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('processedBy')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['canceledBy'].valid && myForm.controls['canceledBy'].touched)}">
                      Canceled By
                      
                      <input type="text"
                             formControlName="canceledBy"
                             [(ngModel)]="transaction.canceledBy"
                             name="canceledBy"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('canceledBy')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['settledBy'].valid && myForm.controls['settledBy'].touched)}">
                      Settled By
                      
                      <input type="text"
                             formControlName="settledBy"
                             [(ngModel)]="transaction.settledBy"
                             name="settledBy"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('settledBy')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['rejectedBy'].valid && myForm.controls['rejectedBy'].touched)}">
                      Rejected By
                      
                      <input type="text"
                             formControlName="rejectedBy"
                             [(ngModel)]="transaction.rejectedBy"
                             name="rejectedBy"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('rejectedBy')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="checkedAt"
                   [(ngModel)]="transaction.checkedAt"
                   name="checkedAt"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['checkedAt'].valid && myForm.controls['checkedAt'].touched)}">
                      Checked At
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="checkedAt"
                             [(ngModel)]="transaction.checkedAt"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('checkedAt')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="processedAt"
                   [(ngModel)]="transaction.processedAt"
                   name="processedAt"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['processedAt'].valid && myForm.controls['processedAt'].touched)}">
                      Processed At
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="processedAt"
                             [(ngModel)]="transaction.processedAt"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('processedAt')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->


            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="canceledAt"
                   [(ngModel)]="transaction.canceledAt"
                   name="canceledAt"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['canceledAt'].valid && myForm.controls['canceledAt'].touched)}">
                      Canceled At
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="canceledAt"
                             [(ngModel)]="transaction.canceledAt"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('canceledAt')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="settledAt"
                   [(ngModel)]="transaction.settledAt"
                   name="settledAt"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['settledAt'].valid && myForm.controls['settledAt'].touched)}">
                      Settled At
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="settledAt"
                             [(ngModel)]="transaction.settledAt"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('settledAt')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->


            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="bookedAt"
                   [(ngModel)]="transaction.bookedAt"
                   name="bookedAt"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bookedAt'].valid && myForm.controls['bookedAt'].touched)}">
                      Booked At
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="bookedAt"
                             [(ngModel)]="transaction.bookedAt"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('bookedAt')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="rejectedAt"
                   [(ngModel)]="transaction.rejectedAt"
                   name="rejectedAt"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['rejectedAt'].valid && myForm.controls['rejectedAt'].touched)}">
                      Rejected At
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="rejectedAt"
                             [(ngModel)]="transaction.rejectedAt"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('rejectedAt')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->


            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['sameday'].valid && myForm.controls['sameday'].touched)}">
                    Sameday
                    <input type="checkbox"
                           formControlName="sameday"
                           [(ngModel)]="transaction.sameday"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('sameday')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['reversed'].valid && myForm.controls['reversed'].touched)}">
                    Reversed
                    <input type="checkbox"
                           formControlName="reversed"
                           [(ngModel)]="transaction.reversed"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('reversed')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->


            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['sendEmail'].valid && myForm.controls['sendEmail'].touched)}">
                    Send Email
                    <input type="checkbox"
                           formControlName="sendEmail"
                           [(ngModel)]="transaction.sendEmail"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('sendEmail')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['calculateFromBuyToSell'].valid && myForm.controls['calculateFromBuyToSell'].touched)}">
                      Calculate From Buy To Sell
                      
                      <input type="text"
                             formControlName="calculateFromBuyToSell"
                             [(ngModel)]="transaction.calculateFromBuyToSell"
                             name="calculateFromBuyToSell"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('calculateFromBuyToSell')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="transaction.id"
              name="id"
              placeholder="">
</fieldset></div>
