<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['name'].valid && myForm.controls['name'].touched)}">
                      Name
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="name"
                             [(ngModel)]="country.name"
                             name="name"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('name')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['abbr'].valid && myForm.controls['abbr'].touched)}">
                      Abbr
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="abbr"
                             [(ngModel)]="country.abbr"
                             name="abbr"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('abbr')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clearingCodePrefix'].valid && myForm.controls['clearingCodePrefix'].touched)}">
                      Clearing Code Prefix
                      
                      <input type="text"
                             formControlName="clearingCodePrefix"
                             [(ngModel)]="country.clearingCodePrefix"
                             name="clearingCodePrefix"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clearingCodePrefix')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currencyCountryConfigs'].valid && myForm.controls['currencyCountryConfigs'].touched)}">
                      Currency Country Configs
                      
                      <input type="text"
                             formControlName="currencyCountryConfigs"
                             [(ngModel)]="country.currencyCountryConfigs"
                             name="currencyCountryConfigs"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currencyCountryConfigs')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="country.id"
              name="id"
              placeholder="">
</fieldset></div>
