<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currency'].valid && myForm.controls['currency'].touched)}">
                      Currency
                      
                      <input type="text"
                             formControlName="currency"
                             [(ngModel)]="sysBankAccount.currency"
                             name="currency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['accountName'].valid && myForm.controls['accountName'].touched)}">
                      Account Name
                      
                      <input type="text"
                             formControlName="accountName"
                             [(ngModel)]="sysBankAccount.accountName"
                             name="accountName"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('accountName')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['accountNumber'].valid && myForm.controls['accountNumber'].touched)}">
                      Account Number
                      
                      <input type="text"
                             formControlName="accountNumber"
                             [(ngModel)]="sysBankAccount.accountNumber"
                             name="accountNumber"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('accountNumber')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankName'].valid && myForm.controls['bankName'].touched)}">
                      Bank Name
                      
                      <input type="text"
                             formControlName="bankName"
                             [(ngModel)]="sysBankAccount.bankName"
                             name="bankName"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankName')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankAddress'].valid && myForm.controls['bankAddress'].touched)}">
                      Bank Address
                      
                      <input type="text"
                             formControlName="bankAddress"
                             [(ngModel)]="sysBankAccount.bankAddress"
                             name="bankAddress"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankAddress')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankCity'].valid && myForm.controls['bankCity'].touched)}">
                      Bank City
                      
                      <input type="text"
                             formControlName="bankCity"
                             [(ngModel)]="sysBankAccount.bankCity"
                             name="bankCity"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankCity')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankCountry'].valid && myForm.controls['bankCountry'].touched)}">
                      Bank Country
                      
                      <input type="text"
                             formControlName="bankCountry"
                             [(ngModel)]="sysBankAccount.bankCountry"
                             name="bankCountry"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankCountry')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bsbNumber'].valid && myForm.controls['bsbNumber'].touched)}">
                      Bsb Number
                      
                      <input type="text"
                             formControlName="bsbNumber"
                             [(ngModel)]="sysBankAccount.bsbNumber"
                             name="bsbNumber"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bsbNumber')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bicCode'].valid && myForm.controls['bicCode'].touched)}">
                      Bic Code
                      
                      <input type="text"
                             formControlName="bicCode"
                             [(ngModel)]="sysBankAccount.bicCode"
                             name="bicCode"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bicCode')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['correspondentBank'].valid && myForm.controls['correspondentBank'].touched)}">
                      Correspondent Bank
                      
                      <input type="text"
                             formControlName="correspondentBank"
                             [(ngModel)]="sysBankAccount.correspondentBank"
                             name="correspondentBank"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('correspondentBank')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="sysBankAccount.id"
              name="id"
              placeholder="">
</fieldset></div>
