<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyCurrency'].valid && myForm.controls['buyCurrency'].touched)}">
                      Buy Currency
                      
                      <input type="text"
                             formControlName="buyCurrency"
                             [(ngModel)]="rate.buyCurrency"
                             name="buyCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellCurrency'].valid && myForm.controls['sellCurrency'].touched)}">
                      Sell Currency
                      
                      <input type="text"
                             formControlName="sellCurrency"
                             [(ngModel)]="rate.sellCurrency"
                             name="sellCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyPrice'].valid && myForm.controls['buyPrice'].touched)}">
                      Buy Price
                      
                      <input type="text"
                             formControlName="buyPrice"
                             [(ngModel)]="rate.buyPrice"
                             name="buyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellPrice'].valid && myForm.controls['sellPrice'].touched)}">
                      Sell Price
                      
                      <input type="text"
                             formControlName="sellPrice"
                             [(ngModel)]="rate.sellPrice"
                             name="sellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['salesBuyPrice'].valid && myForm.controls['salesBuyPrice'].touched)}">
                      Sales Buy Price
                      
                      <input type="text"
                             formControlName="salesBuyPrice"
                             [(ngModel)]="rate.salesBuyPrice"
                             name="salesBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('salesBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['salesSellPrice'].valid && myForm.controls['salesSellPrice'].touched)}">
                      Sales Sell Price
                      
                      <input type="text"
                             formControlName="salesSellPrice"
                             [(ngModel)]="rate.salesSellPrice"
                             name="salesSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('salesSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clientBuyPrice'].valid && myForm.controls['clientBuyPrice'].touched)}">
                      Client Buy Price
                      
                      <input type="text"
                             formControlName="clientBuyPrice"
                             [(ngModel)]="rate.clientBuyPrice"
                             name="clientBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clientBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clientSellPrice'].valid && myForm.controls['clientSellPrice'].touched)}">
                      Client Sell Price
                      
                      <input type="text"
                             formControlName="clientSellPrice"
                             [(ngModel)]="rate.clientSellPrice"
                             name="clientSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clientSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="rate.id"
              name="id"
              placeholder="">
</fieldset></div>
