<!-- MAIN CONTENT -->
<div id="content">
    <!--<div class="row">-->
    <!--<sa-big-breadcrumbs [breadCrumbs]="breadCrumbs" icon="pencil-square-o"-->
    <!--class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>-->

    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; Button trigger modal &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a (click)="mdModal.show()" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i&ndash;&gt;-->
    <!--&lt;!&ndash;class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->


    <!-- widget grid -->

    <sa-widgets-grid>
        <ngx-loading [show]="loading"></ngx-loading>


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget [editbutton]="false" [custombutton]="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>Currency Country Config Form</h2>

                    </header>
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)" id="checkout-form"
                                  class="smart-form">

<fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currency'].valid && myForm.controls['currency'].touched)}">
                      Currency
                      
                      <input type="text"
                             formControlName="currency"
                             [(ngModel)]="currencyCountryConfig.currency"
                             name="currency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['country'].valid && myForm.controls['country'].touched)}">
                      Country
                      
                      <input type="text"
                             formControlName="country"
                             [(ngModel)]="currencyCountryConfig.country"
                             name="country"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('country')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clearingCodeType'].valid && myForm.controls['clearingCodeType'].touched)}">
                      Clearing Code Type
                      
                      <input type="text"
                             formControlName="clearingCodeType"
                             [(ngModel)]="currencyCountryConfig.clearingCodeType"
                             name="clearingCodeType"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clearingCodeType')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['needSwiftCode'].valid && myForm.controls['needSwiftCode'].touched)}">
                    Need Swift Code
                    <input type="checkbox"
                           formControlName="needSwiftCode"
                           [(ngModel)]="currencyCountryConfig.needSwiftCode"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('needSwiftCode')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['needAccountNumber'].valid && myForm.controls['needAccountNumber'].touched)}">
                    Need Account Number
                    <input type="checkbox"
                           formControlName="needAccountNumber"
                           [(ngModel)]="currencyCountryConfig.needAccountNumber"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('needAccountNumber')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="currencyCountryConfig.id"
              name="id"
              placeholder="">
</fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

                <!-- Widget ID (each widget will need unique ID)-->

                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </sa-widgets-grid>

    <!-- end widget grid -->


</div>