<!-- MAIN CONTENT -->
<div id="content">
    <!--<div class="row">-->
    <!--<sa-big-breadcrumbs [breadCrumbs]="breadCrumbs" icon="pencil-square-o"-->
    <!--class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>-->

    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; Button trigger modal &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a (click)="mdModal.show()" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i&ndash;&gt;-->
    <!--&lt;!&ndash;class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->


    <!-- widget grid -->

    <sa-widgets-grid>
        <ngx-loading [show]="loading"></ngx-loading>


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget [editbutton]="false" [custombutton]="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>Payee Bank Account Form</h2>

                    </header>
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)" id="checkout-form"
                                  class="smart-form">

<fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['accountName'].valid && myForm.controls['accountName'].touched)}">
                      Account Name
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="accountName"
                             [(ngModel)]="payeeBankAccount.accountName"
                             name="accountName"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('accountName')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['accountNumber'].valid && myForm.controls['accountNumber'].touched)}">
                      Account Number
                      
                      <input type="text"
                             formControlName="accountNumber"
                             [(ngModel)]="payeeBankAccount.accountNumber"
                             name="accountNumber"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('accountNumber')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['accountCountry'].valid && myForm.controls['accountCountry'].touched)}">
                      Account Country
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="accountCountry"
                             [(ngModel)]="payeeBankAccount.accountCountry"
                             name="accountCountry"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('accountCountry')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['currency'].valid && myForm.controls['currency'].touched)}">
                      Currency
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="currency"
                             [(ngModel)]="payeeBankAccount.currency"
                             name="currency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('currency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankName'].valid && myForm.controls['bankName'].touched)}">
                      Bank Name
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="bankName"
                             [(ngModel)]="payeeBankAccount.bankName"
                             name="bankName"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankName')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['branchName'].valid && myForm.controls['branchName'].touched)}">
                      Branch Name
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="branchName"
                             [(ngModel)]="payeeBankAccount.branchName"
                             name="branchName"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('branchName')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clearingCode'].valid && myForm.controls['clearingCode'].touched)}">
                      Clearing Code
                      
                      <input type="text"
                             formControlName="clearingCode"
                             [(ngModel)]="payeeBankAccount.clearingCode"
                             name="clearingCode"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clearingCode')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clearingCodeType'].valid && myForm.controls['clearingCodeType'].touched)}">
                      Clearing Code Type
                      
                      <input type="text"
                             formControlName="clearingCodeType"
                             [(ngModel)]="payeeBankAccount.clearingCodeType"
                             name="clearingCodeType"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clearingCodeType')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['swiftCode'].valid && myForm.controls['swiftCode'].touched)}">
                      Swift Code
                      
                      <input type="text"
                             formControlName="swiftCode"
                             [(ngModel)]="payeeBankAccount.swiftCode"
                             name="swiftCode"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('swiftCode')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['branchCity'].valid && myForm.controls['branchCity'].touched)}">
                      Branch City
                      
                      <input type="text"
                             formControlName="branchCity"
                             [(ngModel)]="payeeBankAccount.branchCity"
                             name="branchCity"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('branchCity')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['branchAddress'].valid && myForm.controls['branchAddress'].touched)}">
                      Branch Address
                      
                      <input type="text"
                             formControlName="branchAddress"
                             [(ngModel)]="payeeBankAccount.branchAddress"
                             name="branchAddress"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('branchAddress')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['payee'].valid && myForm.controls['payee'].touched)}">
                      Payee
                      
                      <input type="text"
                             formControlName="payee"
                             [(ngModel)]="payeeBankAccount.payee"
                             name="payee"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('payee')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['collinsonUser'].valid && myForm.controls['collinsonUser'].touched)}">
                      Collinson User
                      
                      <input type="text"
                             formControlName="collinsonUser"
                             [(ngModel)]="payeeBankAccount.collinsonUser"
                             name="collinsonUser"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('collinsonUser')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="payeeBankAccount.id"
              name="id"
              placeholder="">
</fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

                <!-- Widget ID (each widget will need unique ID)-->

                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </sa-widgets-grid>

    <!-- end widget grid -->


</div>