<aside id="left-panel">

    <!-- User info -->
    <sa-login-info></sa-login-info>
    <!-- end user info -->

    <nav>
        <ul saSmartMenu>
                           <li>
                    <a routerLink="/pages/payer/payer-list" title="Payer"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Payer' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/collinson-user/collinson-user-list" title="CollinsonUser"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Collinson User' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/currency/currency-list" title="Currency"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Currency' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/price-policy/price-policy-list" title="PricePolicy"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Price Policy' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/payee-bank-account/payee-bank-account-list" title="PayeeBankAccount"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Payee Bank Account' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/deposit/deposit-list" title="Deposit"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Deposit' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/country/country-list" title="Country"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Country' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/rate/rate-list" title="Rate"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Rate' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/currency-country-config/currency-country-config-list" title="CurrencyCountryConfig"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Currency Country Config' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/transaction/transaction-list" title="Transaction"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Transaction' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/payee/payee-list" title="Payee"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Payee' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/sys-bank-account/sys-bank-account-list" title="SysBankAccount"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Sys Bank Account' | translate}}</span></a>
                </li>
                <li>
                    <a routerLink="/pages/price-category/price-category-list" title="PriceCategory"><i class="fa fa-lg fa-fw fa-chevron-right"></i> <span
                            class="menu-item-parent">{{'Price Category' | translate}}</span></a>
                </li>

        </ul>

    </nav>

    <sa-minify-menu></sa-minify-menu>

</aside>
