<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['name'].valid && myForm.controls['name'].touched)}">
                      Name
                      
                      <input type="text"
                             formControlName="name"
                             [(ngModel)]="collinsonUser.name"
                             name="name"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('name')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['username'].valid && myForm.controls['username'].touched)}">
                      Username
                      
                      <input type="text"
                             formControlName="username"
                             [(ngModel)]="collinsonUser.username"
                             name="username"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('username')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['password'].valid && myForm.controls['password'].touched)}">
                      Password
                      
                      <input type="text"
                             formControlName="password"
                             [(ngModel)]="collinsonUser.password"
                             name="password"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('password')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['email'].valid && myForm.controls['email'].touched)}">
                      Email
                      
                      <input type="text"
                             formControlName="email"
                             [(ngModel)]="collinsonUser.email"
                             name="email"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('email')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['role'].valid && myForm.controls['role'].touched)}">
                      Role
                      
                      <input type="text"
                             formControlName="role"
                             [(ngModel)]="collinsonUser.role"
                             name="role"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('role')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['branch'].valid && myForm.controls['branch'].touched)}">
                      Branch
                      
                      <input type="text"
                             formControlName="branch"
                             [(ngModel)]="collinsonUser.branch"
                             name="branch"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('branch')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['introducedBy'].valid && myForm.controls['introducedBy'].touched)}">
                      Introduced By
                      
                      <input type="text"
                             formControlName="introducedBy"
                             [(ngModel)]="collinsonUser.introducedBy"
                             name="introducedBy"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('introducedBy')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['verify'].valid && myForm.controls['verify'].touched)}">
                    Verify
                    <input type="checkbox"
                           formControlName="verify"
                           [(ngModel)]="collinsonUser.verify"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('verify')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['grantedAuthorities'].valid && myForm.controls['grantedAuthorities'].touched)}">
                      Granted Authorities
                      
                      <input type="text"
                             formControlName="grantedAuthorities"
                             [(ngModel)]="collinsonUser.grantedAuthorities"
                             name="grantedAuthorities"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('grantedAuthorities')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['attachments'].valid && myForm.controls['attachments'].touched)}">
                      Attachments
                      
                      <input type="text"
                             formControlName="attachments"
                             [(ngModel)]="collinsonUser.attachments"
                             name="attachments"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('attachments')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['userType'].valid && myForm.controls['userType'].touched)}">
                      User Type
                      
                      <input type="text"
                             formControlName="userType"
                             [(ngModel)]="collinsonUser.userType"
                             name="userType"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('userType')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['expiresIn'].valid && myForm.controls['expiresIn'].touched)}">
                      Expires In
                      
                      <input type="text"
                             formControlName="expiresIn"
                             [(ngModel)]="collinsonUser.expiresIn"
                             name="expiresIn"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('expiresIn')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!-----------------------textarea field-------------------->
           <div class="">
               <section class="col col-12">
                   <label class="textarea" [ngClass]="{'state-error': (!myForm.controls['address'].valid && myForm.controls['address'].touched)}">
                       Address <span style="color: red">*</span> 
                       <textarea type="text"
                                 rows="4"
                                 cols="200"
                                 formControlName="address"
                                 [(ngModel)]="collinsonUser.address"
                                 name="address"
                                 placeholder="">
                      </textarea>
                       <validation-error
                               [control]="myForm.get('address')"></validation-error>
                   </label>
               </section>
           </div>
            <!-----------------------textarea field-------------------->
            <!--------------------------------------------------------->


            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['city'].valid && myForm.controls['city'].touched)}">
                      City
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="city"
                             [(ngModel)]="collinsonUser.city"
                             name="city"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('city')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['country'].valid && myForm.controls['country'].touched)}">
                      Country
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="country"
                             [(ngModel)]="collinsonUser.country"
                             name="country"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('country')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['maxPerTrx'].valid && myForm.controls['maxPerTrx'].touched)}">
                      Max Per Trx
                      
                      <input type="text"
                             formControlName="maxPerTrx"
                             [(ngModel)]="collinsonUser.maxPerTrx"
                             name="maxPerTrx"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('maxPerTrx')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['minPerTrx'].valid && myForm.controls['minPerTrx'].touched)}">
                      Min Per Trx
                      
                      <input type="text"
                             formControlName="minPerTrx"
                             [(ngModel)]="collinsonUser.minPerTrx"
                             name="minPerTrx"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('minPerTrx')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['phone'].valid && myForm.controls['phone'].touched)}">
                      Phone
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="phone"
                             [(ngModel)]="collinsonUser.phone"
                             name="phone"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('phone')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['age'].valid && myForm.controls['age'].touched)}">
                      Age
                      
                      <input type="text"
                             formControlName="age"
                             [(ngModel)]="collinsonUser.age"
                             name="age"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('age')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['testBoolean'].valid && myForm.controls['testBoolean'].touched)}">
                    Test Boolean
                    <input type="checkbox"
                           formControlName="testBoolean"
                           [(ngModel)]="collinsonUser.testBoolean"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('testBoolean')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->

    </div>

       <input type="text"
              style="display: none;"
              formControlName="testCreated"
              [(ngModel)]="collinsonUser.testCreated"
              name="testCreated"
              placeholder="">
</fieldset></div>
