<!-- MAIN CONTENT -->
<div id="content">
    <!--<div class="row">-->
    <!--<sa-big-breadcrumbs [breadCrumbs]="breadCrumbs" icon="pencil-square-o"-->
    <!--class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>-->

    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; Button trigger modal &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a (click)="mdModal.show()" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i&ndash;&gt;-->
    <!--&lt;!&ndash;class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->


    <!-- widget grid -->

    <sa-widgets-grid>
        <ngx-loading [show]="loading"></ngx-loading>


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget [editbutton]="false" [custombutton]="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>Price Policy Form</h2>

                    </header>
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)" id="checkout-form"
                                  class="smart-form">

<fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyCurrency'].valid && myForm.controls['buyCurrency'].touched)}">
                      Buy Currency
                      
                      <input type="text"
                             formControlName="buyCurrency"
                             [(ngModel)]="pricePolicy.buyCurrency"
                             name="buyCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellCurrency'].valid && myForm.controls['sellCurrency'].touched)}">
                      Sell Currency
                      
                      <input type="text"
                             formControlName="sellCurrency"
                             [(ngModel)]="pricePolicy.sellCurrency"
                             name="sellCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysBuyMargin'].valid && myForm.controls['sysBuyMargin'].touched)}">
                      Sys Buy Margin
                      
                      <input type="text"
                             formControlName="sysBuyMargin"
                             [(ngModel)]="pricePolicy.sysBuyMargin"
                             name="sysBuyMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysBuyMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysSellMargin'].valid && myForm.controls['sysSellMargin'].touched)}">
                      Sys Sell Margin
                      
                      <input type="text"
                             formControlName="sysSellMargin"
                             [(ngModel)]="pricePolicy.sysSellMargin"
                             name="sysSellMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysSellMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankBuyMargin'].valid && myForm.controls['bankBuyMargin'].touched)}">
                      Bank Buy Margin
                      
                      <input type="text"
                             formControlName="bankBuyMargin"
                             [(ngModel)]="pricePolicy.bankBuyMargin"
                             name="bankBuyMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankBuyMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankSellMargin'].valid && myForm.controls['bankSellMargin'].touched)}">
                      Bank Sell Margin
                      
                      <input type="text"
                             formControlName="bankSellMargin"
                             [(ngModel)]="pricePolicy.bankSellMargin"
                             name="bankSellMargin"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankSellMargin')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['priceCategory'].valid && myForm.controls['priceCategory'].touched)}">
                      Price Category
                      
                      <input type="text"
                             formControlName="priceCategory"
                             [(ngModel)]="pricePolicy.priceCategory"
                             name="priceCategory"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('priceCategory')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['baseBuyPrice'].valid && myForm.controls['baseBuyPrice'].touched)}">
                      Base Buy Price
                      
                      <input type="text"
                             formControlName="baseBuyPrice"
                             [(ngModel)]="pricePolicy.baseBuyPrice"
                             name="baseBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('baseBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['baseSellPrice'].valid && myForm.controls['baseSellPrice'].touched)}">
                      Base Sell Price
                      
                      <input type="text"
                             formControlName="baseSellPrice"
                             [(ngModel)]="pricePolicy.baseSellPrice"
                             name="baseSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('baseSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysBuyPrice'].valid && myForm.controls['sysBuyPrice'].touched)}">
                      Sys Buy Price
                      
                      <input type="text"
                             formControlName="sysBuyPrice"
                             [(ngModel)]="pricePolicy.sysBuyPrice"
                             name="sysBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sysSellPrice'].valid && myForm.controls['sysSellPrice'].touched)}">
                      Sys Sell Price
                      
                      <input type="text"
                             formControlName="sysSellPrice"
                             [(ngModel)]="pricePolicy.sysSellPrice"
                             name="sysSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sysSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankBuyPrice'].valid && myForm.controls['bankBuyPrice'].touched)}">
                      Bank Buy Price
                      
                      <input type="text"
                             formControlName="bankBuyPrice"
                             [(ngModel)]="pricePolicy.bankBuyPrice"
                             name="bankBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['bankSellPrice'].valid && myForm.controls['bankSellPrice'].touched)}">
                      Bank Sell Price
                      
                      <input type="text"
                             formControlName="bankSellPrice"
                             [(ngModel)]="pricePolicy.bankSellPrice"
                             name="bankSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('bankSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="pricePolicy.id"
              name="id"
              placeholder="">
</fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

                <!-- Widget ID (each widget will need unique ID)-->

                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </sa-widgets-grid>

    <!-- end widget grid -->


</div>