<div [formGroup]="myForm">
    <fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['name'].valid && myForm.controls['name'].touched)}">
                      Name
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="name"
                             [(ngModel)]="payer.name"
                             name="name"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('name')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['age'].valid && myForm.controls['age'].touched)}">
                      Age
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="age"
                             [(ngModel)]="payer.age"
                             name="age"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('age')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['address'].valid && myForm.controls['address'].touched)}">
                      Address
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="address"
                             [(ngModel)]="payer.address"
                             name="address"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('address')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['email'].valid && myForm.controls['email'].touched)}">
                      Email
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="email"
                             [(ngModel)]="payer.email"
                             name="email"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('email')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['city'].valid && myForm.controls['city'].touched)}">
                      City
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="city"
                             [(ngModel)]="payer.city"
                             name="city"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('city')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <div class="" style="margin: 0 15px" [ngClass]="{'state-error': (!myForm.controls['richText'].valid && myForm.controls['richText'].touched)}">
                Rich Text
                <quill-editor  formControlName="richText"
                               [(ngModel)]="payer.richText">
                </quill-editor>
            </div>
            <br>
            <br>

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!-----------------------textarea field-------------------->
           <div class="">
               <section class="col col-12">
                   <label class="textarea" [ngClass]="{'state-error': (!myForm.controls['textArea'].valid && myForm.controls['textArea'].touched)}">
                       Text Area
                       <textarea type="text"
                                 rows="4"
                                 cols="200"
                                 formControlName="textArea"
                                 [(ngModel)]="payer.textArea"
                                 name="textArea"
                                 placeholder="">
                      </textarea>
                       <validation-error
                               [control]="myForm.get('textArea')"></validation-error>
                   </label>
               </section>
           </div>
            <!-----------------------textarea field-------------------->
            <!--------------------------------------------------------->

    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['country'].valid && myForm.controls['country'].touched)}">
                      Country
                       <span style="color: red">*</span>
                      <input type="text"
                             formControlName="country"
                             [(ngModel)]="payer.country"
                             name="country"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('country')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!---------------------------------------------------->
            <!-----if is multi select and ouput single entity----->
            <input type="text"
                   style="display: none;"
                   formControlName="collinsonUser"
                   [(ngModel)]="payer.collinsonUser"
                   name="collinsonUser"
                   placeholder="">

            <section class="col col-6">
                <div class="select" [ngClass]="{'state-error': (!myForm.controls['collinsonUser'].valid && myForm.controls['collinsonUser'].touched)}">
                    Collinson User

                   
                    <common-multi-select
                            [refreshSubject]="collinsonUserRefreshSubject"
                            [datasForLoadSubject]="collinsonUserForLoadSubject"
                            (datasSelected)="collinsonUserSelected($event)"
                            [multiple]="false"
                            [service]="collinsonUserService"
                    ></common-multi-select>
                    <validation-error
                            [control]="myForm.get('collinsonUser')"></validation-error>
                </div>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->


    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------if is add dynamic many entity---------->
            <div class="">
                <div formArrayName="payees" id="payees">
                    <div *ngFor="let payees of getpayeesFormData().controls; let i=index" [ngClass]="getpayeesFormData().controls.length > 0 ? 'my-subform-border' : ''">
                        <div [formGroupName]="i">
                            <payee-subform-component
                            [group]="getpayeesFormData().controls[i]"
                            [payee]="getpayees(i)"></payee-subform-component>

                        <div class="row">
                            <section class="col col-offset-8 col-4 align-center" style="margin-top: 20px;">
                                <a class="btn btn-danger"
                                   (click)="removepayeesFormControl(i)">
                                    <i class="fa fa-remove"></i>
                                    Remove
                                </a>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <section class="col col-6 align-center">
                        <a class="btn btn-success btn-sm"
                           (click)="addpayeesFormControl()">
                            <i class="fa fa-plus"></i>
                            Add payees
                        </a>
                    </section>
                </div>
            </div>
            </div>
            <!-------------if is add dynamic many entity---------->
            <!---------------------------------------------------->

    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!-------------------if is switch------------------->
            <section class="col col-6">
                <label class="toggle" [ngClass]="{'state-error': (!myForm.controls['verify'].valid && myForm.controls['verify'].touched)}">
                    Verify <span style="color: red">*</span> 
                    <input type="checkbox"
                           formControlName="verify"
                           [(ngModel)]="payer.verify"
                           name="checkbox-toggle"
                           checked="checked">
                    <i data-swchon-text="YES" data-swchoff-text="NO"></i>
                    <validation-error
                            [control]="myForm.get('verify')"></validation-error>
                </label>
            </section>
            <!-----if is multi select and ouput single entity----->
            <!---------------------------------------------------->


            <!--------------------------------------------------------->
            <!--------------------ZonedDateTime field----------------->
            <input type="date"
                   style="display: none;"
                   formControlName="testDate"
                   [(ngModel)]="payer.testDate"
                   name="testDate"
                   placeholder="">
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['testDate'].valid && myForm.controls['testDate'].touched)}">
                      Test Date
                      <input ngui-datetime-picker
                             date-format="YYYY-MM-DD"
                             year="2014"
                             month="12"
                             day="31"
                             min-date="currentDate"
                             date-only="true"
                             placeholder="Please Choose Date"
                             formControlName="testDate"
                             [(ngModel)]="payer.testDate"
                             [close-on-select]="true"/>
                      <validation-error
                              [control]="myForm.get('testDate')"></validation-error>
                  </label>
              </section>
            <!--------------------ZonedDateTime field----------------->
            <!--------------------------------------------------------->

    </div>
     <div class="row">

            <!---------------------------------------------------->
            <!--------------------if is dropzone------------------>
            <input type="text"
                   style="display: none;"
                   formControlName="attachments"
                   [(ngModel)]="payer.attachments"
                   name="attachments"
                   placeholder="">

            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attachments
            
            </label>
            <div class="row dropzone-area" style="margin: 15px 15px !important">
                <div class="" role="content">
                    <!-- widget content -->
                    <div class="widget-body" [ngClass]="{'state-error': (!myForm.controls['attachments'].valid && myForm.controls['attachments'].touched)}">

                        <my-drop-zone-component [maxFiles]="10"
                                                [subject]="attachmentsImageSubject"
                                                (fileObjectsChanged)="attachmentsFileObjectsChanged($event)">
                        </my-drop-zone-component>
                        <validation-error
                                [control]="myForm.get('attachments')"></validation-error>

                    </div>
                    <!-- end widget content -->

                </div>
            </div>
            <!--------------------if is dropzone------------------>
            <!---------------------------------------------------->

    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="payer.id"
              name="id"
              placeholder="">
       <input type="text"
              style="display: none;"
              formControlName="transactions"
              [(ngModel)]="payer.transactions"
              name="transactions"
              placeholder="">
</fieldset></div>
