<span [popper]="text"
      *ngIf="text?.length > maxLength"
      [popperTrigger]="'hover'"
      [popperHideOnMouseLeave]="false"
      [popperPlacement]="'top'">{{displayText}}...</span>

<span *ngIf="!(text?.length > maxLength)">{{text}}</span>
