<!-- MAIN CONTENT -->
<div id="content">
    <!--<div class="row">-->
    <!--<sa-big-breadcrumbs [breadCrumbs]="breadCrumbs" icon="pencil-square-o"-->
    <!--class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>-->

    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; Button trigger modal &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<a (click)="mdModal.show()" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i&ndash;&gt;-->
    <!--&lt;!&ndash;class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->


    <!-- widget grid -->

    <sa-widgets-grid>
        <ngx-loading [show]="loading"></ngx-loading>


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div sa-widget [editbutton]="false" [custombutton]="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2>Rate Form</h2>

                    </header>
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)" id="checkout-form"
                                  class="smart-form">

<fieldset>
         <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyCurrency'].valid && myForm.controls['buyCurrency'].touched)}">
                      Buy Currency
                      
                      <input type="text"
                             formControlName="buyCurrency"
                             [(ngModel)]="rate.buyCurrency"
                             name="buyCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellCurrency'].valid && myForm.controls['sellCurrency'].touched)}">
                      Sell Currency
                      
                      <input type="text"
                             formControlName="sellCurrency"
                             [(ngModel)]="rate.sellCurrency"
                             name="sellCurrency"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellCurrency')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['buyPrice'].valid && myForm.controls['buyPrice'].touched)}">
                      Buy Price
                      
                      <input type="text"
                             formControlName="buyPrice"
                             [(ngModel)]="rate.buyPrice"
                             name="buyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('buyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['sellPrice'].valid && myForm.controls['sellPrice'].touched)}">
                      Sell Price
                      
                      <input type="text"
                             formControlName="sellPrice"
                             [(ngModel)]="rate.sellPrice"
                             name="sellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('sellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['salesBuyPrice'].valid && myForm.controls['salesBuyPrice'].touched)}">
                      Sales Buy Price
                      
                      <input type="text"
                             formControlName="salesBuyPrice"
                             [(ngModel)]="rate.salesBuyPrice"
                             name="salesBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('salesBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['salesSellPrice'].valid && myForm.controls['salesSellPrice'].touched)}">
                      Sales Sell Price
                      
                      <input type="text"
                             formControlName="salesSellPrice"
                             [(ngModel)]="rate.salesSellPrice"
                             name="salesSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('salesSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>
     <div class="row">

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clientBuyPrice'].valid && myForm.controls['clientBuyPrice'].touched)}">
                      Client Buy Price
                      
                      <input type="text"
                             formControlName="clientBuyPrice"
                             [(ngModel)]="rate.clientBuyPrice"
                             name="clientBuyPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clientBuyPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->

            <!--------------------------------------------------------->
            <!--------------------else is normal field----------------->
              <section class="col col-6">
                  <label class="input" [ngClass]="{'state-error': (!myForm.controls['clientSellPrice'].valid && myForm.controls['clientSellPrice'].touched)}">
                      Client Sell Price
                      
                      <input type="text"
                             formControlName="clientSellPrice"
                             [(ngModel)]="rate.clientSellPrice"
                             name="clientSellPrice"
                             placeholder="">
                      <validation-error
                              [control]="myForm.get('clientSellPrice')"></validation-error>
                  </label>
              </section>
            <!--------------------else is normal field----------------->
            <!--------------------------------------------------------->
    </div>

       <input type="text"
              style="display: none;"
              formControlName="id"
              [(ngModel)]="rate.id"
              name="id"
              placeholder="">
</fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

                <!-- Widget ID (each widget will need unique ID)-->

                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </sa-widgets-grid>

    <!-- end widget grid -->


</div>